/**
    * @name Persona 5
    * @version 1.0
    * @description Persona 5 Color Scheme for Better Discord
    * @author saysora
    * @website https://github.com/saysora
    * @source https://github.com/saysora/p5
*/

/* Import Varela Font */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@font-face {
  font-family: "P5";
  src: url("https://saysora.github.io/p5/p5hatty.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "persona";
  src: url("https://saysora.github.io/p5/PersonifiedUXRegular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "New P5";
  src: url("https://saysora.github.io/p5/newp5.ttf");
  font-weight: 500;
}

:root {
  /* --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --background-mentioned: rgba(250, 166, 26, 0.05);
  --background-mentioned-hover: rgba(250, 166, 26, 0.08);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --background-help-warning: rgba(250, 166, 26, 0.1);
  --background-help-info: rgba(0, 176, 244, 0.1);
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --logo-primary: #fff;
  --focus-primary: #00b0f4;
  --radio-group-dot-foreground: #8ea1e1;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;

    
  --background-accent: steelblue;
  --background-floating: red;
  
  */

  /* New Main Color */
  --p5-primary: #cc0001;

  /* Backgrounds */
  --background-primary: #101010;
  --background-secondary: #111;
  --background-secondary-alt: #111;
  --background-accent: #cc0001;
  --background-tertiary: #cc0001;

  /* Channel Text Area */
  --channeltextarea-background: #fff;

  /* Scrollbar */
  --scrollbar-thin-thumb: #b80404;
  --scrollbar-auto-thumb: #b80404;
  --scrollbar-auto-track: #222;

  /* Header */
  --header-primary: #fff !important;

  /* 9A0002 */

  /* Text */
  --text-link: var(--p5-primary);
  --text-muted: #fff;
  /* --text-muted: #cc0001; */

  /* Focus */
  -focus-primary: #fff;
}

/* Top Area */

.da-chat .da-toolbar .da-iconWrapper {
  background: #000;
  border-radius: 2px;
  border: 2px solid #fff;
  margin: 0 2px;
  transform: rotate(4deg);
}

.da-chat .da-toolbar .da-iconWrapper:nth-child(even) {
  transform: rotate(-4deg);
}

.da-chat .da-toolbar .da-iconWrapper .da-icon {
  padding: 1px;
  box-sizing: border-box;
  width: 20px;
  height: auto;
  color: #fff;
}

.da-chat .da-toolbar .da-iconWrapper:nth-child(2n + 3) .da-icon {
  color: var(--p5-primary);
}

.da-chat .da-toolbar .da-iconWrapper:hover {
  background: #fff;
}

.da-chat .da-toolbar .da-iconWrapper:hover .da-icon {
  color: var(--p5-primary);
}

/* change icons */

.da-folderIconWrapper {
  background: rgba(10, 10, 10, 0.5) !important;
}

/* Tutorial Icon */

.da-tutorialContainer .da-wrapper.da-selected .da-childWrapper {
  background: #000;
  color: #fff;
}

/* Now Playing */

.da-nowPlayingColumn {
  background: #000;
}

.da-nowPlayingColumn .da-itemCard {
  background: #111;
  border: 2px solid #fff;
  border-radius: 2px;
  transform: skew(-3deg);
}

.da-nowPlayingColumn .da-itemCard:nth-child(even) {
  transform: skew(3deg);
}

/* Floating styles */

.da-layer {
}

.da-styleFixed {
  color: #fff;
  overflow: visible;
}

/* Menu popups */

.da-menu {
}

.da-menu > div {
  position: relative;
  z-index: 5;
}

.da-menu:before {
  transform: skewX(-1deg);
}

/* Embeds */

.da-embed {
  /* border-bottom-right-radius: 0; */
  background: rgb(12, 12, 12);
}

/* Badges */

.da-lowerBadge {
  background: var(--p5-primary);
}

.da-numberBadge {
  background: var(--p5-primary) !important;
  color: #fff;
}

.da-base {
  /* background: #fff; */
}

/* Date dividers */

.da-divider {
  /* border-color: rgba(255, 255, 255, 0.7); */
  border-color: #333;
}

.da-divider .da-content {
  font-family: "New P5";
  font-size: 0.75em;
  color: #000;
  background: #fff;
  letter-spacing: 3px;
  border-radius: 2px;
  border: 2px solid #000;
  padding: 5px;
  transform: skew(6deg);
}

.da-divider:nth-child(2n + 1) .da-content {
  transform: skew(-6deg);
}

/* Messages */

.da-chat {
  background: #131313;
}

.da-chat .da-title {
  background: #111;
}

.da-textArea span {
  color: #000;
  /* font-family: "New P5"; */
  font-family: "Varela Round", sans-serif;
}

.da-textArea .da-placeholder {
  font-family: "Varela Round", sans-serif;
  color: #000;
  font-size: 0.8em;
}

.da-channelTextArea > div {
  border-radius: 0;
  transform: skewX(-4deg);
}

.da-channelTextArea > div .da-inner {
  transform: skewX(4deg);
}

.da-channelTextArea > div .da-inner .da-textArea .da-markup span {
  font-size: 0.95em;
}

.da-panels .da-flex .da-button {
  transform: rotate(2deg);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
}

.da-panels .da-flex .da-button:nth-child(even) {
  transform: rotate(-4deg);
}

.da-panels .da-flex .da-button:hover {
  background: #fff;
  color: var(--p5-primary);
}

.da-channelTextArea .da-buttons button:hover svg path {
  fill: var(--p5-primary);
}

.da-iconContainer {
  background: #000;
  border-radius: 2px;
  border: 2px solid #fff;
  transform: rotate(-4deg);
}

.da-containerDefault:nth-child(even) .da-iconContainer {
  transform: rotate(4deg);
}

.da-iconContainer svg {
  color: #fff !important;
}

.da-containerDefault:nth-child(2n + 3) .da-iconContainer svg {
  color: var(--p5-primary) !important;
}

.da-containerDefault:hover .da-iconContainer {
  background: var(--p5-primary);
}

.da-containerDefault:nth-child(2n + 1):hover .da-iconContainer {
  background: #fff;
}

.da-containerDefault:nth-child(2n + 1):hover .da-iconContainer svg {
  color: var(--p5-primary) !important;
}

.da-containerDefault.da-selected .da-iconContainer {
  background: var(--p5-primary);
}

.da-containerDefault.da-selected .da-iconContainer svg {
  color: #fff !important;
}

.da-containerDefault.da-selected .da-content {
  background: none;
  border-radius: 2px;

  background: rgba(255, 255, 255, 0.1);
}

.da-emptyChannelIcon {
  border-radius: 0;
  background-color: #000;
  border-radius: 2px;
  border: 2px solid #fff;
  transform: rotate(-4deg);
}

.da-emptyChannelIcon svg {
  color: #000 !important;
}

.da-message .da-avatar {
  border-radius: 0;
  background-color: #000;

  border: 2px solid #fff;
  transform: rotate(-4deg) skew(3deg);
  overflow: visible;
}

.da-message:nth-child(even) .da-avatar {
  transform: rotate(-2deg) skew(3deg);
}

.da-messageContent {
  font-family: "Varela Round", sans-serif;
  font-size: 0.85em;
}

.da-message .da-buttons .da-wrapper {
  border-radius: 0;
  overflow: none;
}

.da-message .da-buttons .da-wrapper .da-button {
  border-radius: 2px;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  transform: rotate(4deg);
  padding: 1px;
}

.da-message .da-buttons .da-wrapper .da-button:nth-child(even) {
  transform: rotate(-4deg);
}

.da-message .da-buttons .da-wrapper .da-button:hover {
  background: var(--p5-primary);
}

.da-message .da-markup .da-wrapper {
  color: var(--p5-primary);
}

.da-message .da-markup .da-wrapper:hover {
  background: #fff;
  color: #000;
}

/* Auto Complete New Interface */

.da-autocompleteInner {
  background: var(--background-secondary);
}

.da-autocompleteInner .da-rail .da-scroller {
  background: var(--p5-primary);
}

.da-autocompleteInner .da-categorySection .da-wrapper {
  background: none;
}

/* Profile Cards */

.da-userPopout {
  font-weight: 700;
}

.da-userPopout .da-header {
  background: var(--p5-primary);
  background: url(https://saysora.github.io/p5/p5star.gif) center center;
}

.da-userPopout .da-headerText {
  background: #fff;
  border-radius: 2px;
  border: 2px solid #000;
  padding: 2px;
  transform: skewY(3deg);
  color: var(--p5-primary);
}

.da-userPopout .da-headerText .da-headerName {
  color: var(--p5-primary);
}

.da-userPopout .da-headerText .da-username {
  color: var(--p5-primary);
}

.da-userPopout .da-headerText .da-username + span {
  color: #000;
}

.da-userPopout .da-header .da-customStatusText {
  display: inline-block;
  color: #fff;
  background: var(--p5-primary);
  padding: 2px 5px;
  border-radius: 2px;
  border: 2px solid #000;
  transform: skewY(2.5deg);
}

.da-userPopout .da-activityUserPopout .da-headerTextNormal {
  color: var(--p5-primary);
  display: flex;
  justify-content: center;
}

.theme-dark .da-body {
  background: rgb(12, 12, 12);
}

.theme-dark .da-footer {
  background: rgb(12, 12, 12);
}

.theme-dark .da-footer .da-inputWrapper input {
  border-color: var(--p5-primary);
  background: rgba(50, 50, 50, 0.1);
}

.da-userPopout .da-textarea {
  border: 1px solid transparent;
  border-radius: 1px;
}

.da-userPopout .da-textarea:focus {
  background: #000;
  border-color: #fff;
}

.da-userPopout .da-avatarWrapper .da-wrapper svg foreignObject img {
  mask: url();
  transform: rotate(4deg);
}

.da-userPopout .da-avatarWrapper .da-avatarHint foreignObject {
  mask: url();
}

.da-userPopout .da-avatarWrapper .da-avatarHint foreignObject img {
  transform: rotate(4deg);
}

/* Member */

.da-member .da-name {
  /* font-family: "Varela Round", sans-serif; */
  font-weight: 600;
}

/* Left Column */

.da-header .da-name {
}

.da-mainContent .da-name {
  font-family: "Varela Round", sans-serif;
}

.da-activityPanel .da-body {
  position: relative;
  background: #000;
  border: 2px solid #fff;
}

.da-activityPanel .da-body::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
  left: 90%;
  top: 100%;
}

/* Left most column */

.da-listItemWrapper .da-circleIconButton svg {
  color: #fff;
}

/* List of friends */

.da-container .da-tabBody {
  background: rgba(10, 10, 10, 0.8);
}

.da-privateChannels .da-scroller {
  background: rgba(10, 10, 10, 0.1);
}

.da-panels .da-container {
  background: rgba(10, 10, 10, 0.3);
}

/* People List */

.da-peopleList .da-peopleListItem .da-avatar svg foreignObject {
  mask: url();
}

.da-peopleList .da-peopleListItem div.da-avatar {
  border: 2px solid #fff;
  border-radius: 2px;
  background: #000;
}

.da-peopleList .da-peopleListItem:nth-child(2n + 3) div.da-avatar {
  transform: rotate(4deg);
}

.da-peopleList .da-peopleListItem .da-actions .da-actionButton {
  border-radius: 2px;
  background: #000;
  border: 2px solid #fff;
  transform: rotate(-4deg);
  color: #fff;
}

.da-peopleList .da-peopleListItem .da-actions .da-actionButton:nth-child(even) {
  color: var(--p5-primary);
}

/* Popouts */

.da-menu .da-scroller {
  background: #000;
  border-radius: 2px;
  border: 2px solid #fff;
  transform: skew(-1.5deg);
}

.da-menu .da-scroller .da-item {
  color: #fff;
}

.da-menu .da-scroller .da-item:nth-child(2n + 2) .da-iconContainer .da-icon {
  color: var(--p5-primary) !important;
}

.da-menu .da-scroller .da-item.da-focused {
  background: var(--p5-primary);
}
