/**
    * @name Persona 5
    * @version 1.0
    * @description Persona 5 Color Scheme for Better Discord
    * @author saysora
    * @website https://github.com/saysora
    * @source https://github.com/saysora/p5
*/

/* Import Arsenal Font */
@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap");

@font-face {
  font-family: "P5";
  src: url("https://saysora.github.io/p5/p5hatty.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "persona";
  src: url("https://saysora.github.io/p5/PersonifiedUXRegular.ttf");
  font-weight: 500;
}

:root {
  --p5-primary: #b80404;
  --background-primary: #111;
  --background-secondary: #111;
  --background-secondary-alt: #111;
  /* --background-accent: steelblue; */
  /* --background-floating: red; */
  /* --background-tertiary: #b80404; */

  --channeltextarea-background: #fff;

  --scrollbar-thin-thumb: #b80404;

  --scrollbar-auto-thumb: #b80404;
  --scrollbar-auto-track: #222;

  --text-link: #b84948;

  --header-primary: #fff !important;
}

/* Set BG for sidebar */
.scroller-2TZvBN {
  background: var(--p5-primary);
}

/* change icons */

.da-folderIconWrapper {
  background: rgba(10, 10, 10, 0.5) !important;
}

/* Floating styles */

.da-layer {
}

.da-styleFixed {
  color: #fff;
  overflow: visible;
}

/* Menu popups */

.da-menu {
}

.da-menu > div {
  position: relative;
  z-index: 5;
}

.da-menu:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  transform: skewX(-1deg);
}

.da-menu:after {
  position: absolute;
  content: "";
  top: 0;
  left: 2%;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: skewX(-3deg);
}

.da-statusItem {
  color: #fff;
}

.da-colorDefault {
  background: var(--background-primary);
  transform: skew(-3deg);
}

.da-colorDefault.da-focused .da-label {
  color: #fff;
}

.da-focused {
  background: var(--p5-primary) !important;
  color: #fefefe;
  position: relative;
}

.da-focused:before,
.da-focused:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.da-focused:before {
  background: var(--p5-primary);
  transform: skewX(-5deg);
}

.da-focused:after {
  background: var(--p5-primary);
  transform: scaleX(1) skewX(-1deg);
}

.da-focused > div {
  position: relative;
  z-index: 10;
}

.da-colorDefault:hover {
  background: rgba(255, 255, 255, 0.8);

  transform: skew(-2deg);
  color: var(--background-primary);
}

.da-focused .da-statusItem {
  color: #fff;
}

/* Textinput */

.da-channelTextArea .da-webkit {
  border-radius: 0;
  transform: skewX(-8deg);
}

.da-channelTextArea.da-focused {
  background: none !important;
}

.da-channelTextArea.da-focused:before {
  display: none;
  background: #fff;
}

.da-channelTextArea.da-focused:after {
  display: none;
  background: #fff;
}

.da-form {
}

.da-slateContainer span {
  color: #000;
}

/* Embeds */

.da-embed {
  /* border-bottom-right-radius: 0; */
  background: rgb(12, 12, 12);
}

/* Badges */

.da-lowerBadge {
  /* background: #fff !important; */
}

.da-numberBadge {
  background: var(--p5-primary);
  color: #fff;
}

.da-base {
  /* background: #fff; */
}

/* Date dividers */

.da-divider.da-hasContent {
  /* border-color: rgba(255, 255, 255, 0.7); */
  border-color: #333;
}

.da-divider.da-hasContent .da-content {
  font-family: "P5";
  font-size: 1.05em;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 0;
  transform: skew(-10deg);
}

/* Messages */

.da-message {
  font-family: "persona", sans-serif;
}

.da-slateTextArea {
  font-family: "persona", sans-serif;
}

.da-placeholder {
  font-family: "persona", sans-serif;
}

/* Profile Cards */

.da-userPopout .da-headerTop {
  background: var(--p5-primary);
}

.da-userPopout .da-body,
.da-userPopout .da-activity {
  background: var(--background-primary);
}

.da-userPopout .da-footer {
  background: var(--background-primary);
}

.da-userPopout .da-input:focus {
  border-color: var(--p5-primary);
}

.da-userPopout .da-username {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

/* Member */

.da-member .da-name {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

/* Left Column */

.da-header .da-name {
  font-family: "persona";
}

.da-mainContent .da-name {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

/* Left most column */

.da-listItemWrapper .da-circleIconButton svg {
  color: #fff;
}

/* List of friends */

.da-container .da-tabBody {
  background: rgba(10, 10, 10, 0.8);
}

.da-privateChannels .da-scroller {
  background: rgba(10, 10, 10, 0.1);
}

.da-panels .da-container {
  background: rgba(10, 10, 10, 0.3);
}
